
    <div id="content" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-align: center;display: flex;flex-direction: column;align-items: center;justify-content: center;width:100%;height:100vh;">
     <div>
      <h1 style="text-transform: uppercase;color: #1976d2;border-bottom: 2px solid #1976d2e6;padding-inline: 10px;">HR Portal</h1>
      <h4 style="text-transform: uppercase;margin-top: 10px;letter-spacing: 1px;">Deduction Report</h4>
      <div style="margin-top: 10px;">
        <p>Name : <%= "#{@user.first_name} #{@user.middle_name} #{@user.last_name}" %></p>
      </div>
    </div>
      <table style="border: 1px solid black;border-collapse: collapse;margin-top: 10px;margin: auto;">
        <thead>
          <tr style="border: 1px solid black;">
            <th style="border: 1px solid black; padding: 10px;text-transform: uppercase;">Earnings</th>
            <th style="border: 1px solid black; padding: 10px;text-transform: uppercase;">Amount</th>
            <!-- <th style="border: 1px solid black; padding: 10px;">Deductions</th> -->
            <th style="border: 1px solid black; padding: 10px;text-transform: uppercase;">Deduction Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr style="border: 1px solid black;">
            <td style="border: 1px solid black; padding: 10px;">Salary</td>
            <td style="border: 1px solid black; padding: 10px;"><%= @user.salary %></td>
            <!-- <td style="border: 1px solid black; padding: 10px;">
              <% if @deductions %>
                <% @deductions.each do |deduction| %>
                  <%= "deduction_one_amt" %><br>
                  <%= "deduction_two_amt" %><br>
                  <%= "deduction_three_amt" %><br>
                <% end %>                  
              <% end %>
            </td> -->
            <td style="border: 1px solid black; padding: 10px;">
              <% total_deduction=0 %>
              <% if @deductions %>
              <% @deductions.each do |deduction| %>
              <%= deduction.deduction_one_amt %><br>
              <%= deduction.deduction_two_amt %><br>
              <%= deduction.deduction_three_amt %><br>
              <% 
                total_deduction=total_deduction+deduction.deduction_one_amt.to_f+deduction.deduction_two_amt.to_f+deduction.deduction_three_amt.to_f
              %>
                <% end %>                  
              <% end %>
            </td>
          </tr>
          <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;padding: 10px;font-weight: 600;">Sub Total</td>
            <td style="border: 1px solid black;padding: 10px;font-weight: 600;"><%= @user.salary %> Rs.</td>
            <!-- <td style="border: 1px solid black;padding: 10px;">Total Deduction</td> -->
            <td style="border: 1px solid black;padding: 10px;font-weight: 600;"><%= total_deduction %> Rs.</td>
          </tr>
          <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;padding: 10px;font-weight: 600;" colspan="2">Total</td>
            <td style="border: 1px solid black;padding: 10px;font-weight: 600;"><%= @user.salary.to_f - total_deduction.to_f %> Rs.</td>
          </tr>
        </tbody>
      </table>
    </div>